@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
.font {
  font-family: "Kalam", cursive;
}

.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://wallpapercave.com/wp/wp1882312.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.login {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 140, 6);
  width: 40rem;
  padding: 4rem;
  border-radius: 50%;
  opacity: 0.9;
}

.homeSubmit {
  display: flex;
  flex-direction: row;
}
.submit-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  background-color: rgb(73, 113, 73) !important;
  padding: 1rem;
}
.submit-Container button {
  display: block;
  height: 3rem;
  margin: 0 5px;
}

.submit-Container input {
  height: 3rem;
}

.submit-Container select {
  height: 3rem;
}

.header {
  background-color: aqua;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header img {
  height: 250px;
  /* border: 2px solid red; */
}
.food-Recipe-Info {
  height: 61.9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 3.75rem;
  background-color: rgb(137, 228, 232);
}
.food-Recipe-Info img {
  margin: 0 10rem;
  border-radius: 1rem;
}
.info {
  text-align: end;
  line-height: 1.2rem;
  font-size: 1.5rem;
  width: 33%;
  letter-spacing: 2px;
}

.recipe {
  font-size: 1.5rem;
  width: 33%;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: rgb(153, 246, 135);
}

.about-me img {
  width: 309px;
  margin-bottom: 2rem;
}

.about-info {
  text-align: center;
  width: 50rem;
  border: 5px solid white;
  font-size: 1.5rem;
  padding: 1rem;
}

.navbar {
  background-color: red !important;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img {
  background-position: center center;
  background-size: cover;
}

.card-container {
  padding: 1rem;
  background-color: rgb(124, 216, 124) !important;
  height: 69.85vh;
}
