.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}
.login {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 40rem;
  padding: 4rem;
  border-radius: 50%;
}

.homeSubmit {
  display: flex;
  flex-direction: row;
}
.submit-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}
.submit-Container button {
  display: block;
  height: 3rem;
  margin: 0 5px;
}

.submit-Container input {
  height: 3rem;
}

.submit-Container select {
  height: 3rem;
}
